{% extends "base.html" %}
{% load static %}

{% block title %}Book Details{% endblock title %}
{% block css %}
    {% comment %} <link rel="stylesheet" href="{% static 'book_details.css' %}"> {% endcomment %}

    <style>
        

@keyframes example {
    0%   { left: 3%; color: rgb(20, 46, 46);}
    10%  { left: 15%; color: burlywood; }
    20%  { left: 30%; color: aqua; }
    30%  { left: 45%; color: beige;}
    40% { left: 60%; color: chocolate;}
    50% { left: 67%; color: cornflowerblue;}
    60% { left: 60%; color: darkgrey;}
    70% { left: 45%; color: darkslategray;}
    80% { left: 30%; color: lightgoldenrodyellow;}
    90% { left: 15%; color: lightblue;}
    100% { left: 3%; color: goldenrod;}
}
.animation {
    position: relative; 
    animation-name: example;
    animation-duration: 10s; 
    animation-iteration-count: infinite; /* Make it repeat infinitely */
}

#footer{
    height:500px;
    width:100%;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.li{ /*eta li tag er jonno jeta footer a aca */
    list-style-type: none;
    color: blanchedalmond;
}

    </style>

{% endblock css %}
{% block content %}
    

<div class = 'd-flex row align-items-center p-3'>
    <div class = 'col-sm-12 col-md-6 col-lg-6 col-xl-6'>
        <img class = 'w-100' src="{{book.image.url}}" alt="">
    </div>
    <div class = 'col-sm-12 col-md-6 col-lg-6 col-xl-6'>
        <div class="card pt-3">
            <div class="card-body">
              <h5 class="card-title text-center">{{book.title}}</h5>
              <p class="card-text"> {{book.description}}</p>
                <h3 class = 'text-center'>Price : <big class = 'text-success'>{{book.borrow_price}}$</big> </h3>
            </div>
            <div class = 'm-auto'>
                {% if request.user.is_authenticated %}<a href = "{% url "borrowBook" book.id %}" class = 'btn btn-success text-center text-white'>Borrow Now</a>{% endif %}
            </div>
            <div class = 'mt-3'></div> <!-- This for Details button -->
          </div>
 
    </div>
</div>


{% if borrowingRecord and borrowingRecord == 1  and reviewRecord == 0 %}
 

              
    <div class = 'bg-dark'>
       
        <span><h3 class = 'bg-dark text-light text-center' style = 'margin-left:30%; margin-right:30%;'>Add Your Review</h3></span>
        
        <form method = "POST" class = 'm-auto w-50 text-center fs-5 text-white'>
            {% csrf_token %}
            {% load crispy_forms_tags %} 

            {{form | crispy}}

       

                <p class = 'text-center'><button class = 'btn btn-success text-light' type="submit">Add Review</button></p>
        </form>
    </div>
    

{% endif %}


{% endblock content %}

