
    
    <div style = 'background-color: gray; padding: 60px;'>
        <h3 style = 'text-align:center; color:white;'>Contratulations! {{amount}}$ Deposit Successfully</h3>
        <p style = "color: white; text-align:center;">You have successfully deposited {{amount}}$ and your new balance is :{{balance}}$.</p>
        <h4 style = 'color: 
        Orange; text-align:center'><a style = "text-decoration:none;" href = 'https://spread-knowledge.onrender.com/>Team Spread Knowledge</h5>
    </div>

