body{
    background-color: beige;

}

*{
    margin:0;
    padding:0;
}


@keyframes example {
    0%   { left: 3%; color: rgb(20, 46, 46);}
    10%  { left: 15%; color: burlywood; }
    20%  { left: 30%; color: aqua; }
    30%  { left: 45%; color: beige;}
    40% { left: 60%; color: chocolate;}
    50% { left: 67%; color: cornflowerblue;}
    60% { left: 60%; color: darkgrey;}
    70% { left: 45%; color: darkslategray;}
    80% { left: 30%; color: lightgoldenrodyellow;}
    90% { left: 15%; color: lightblue;}
    100% { left: 3%; color: goldenrod;}
}
.animation {
    position: relative; 
    animation-name: example;
    animation-duration: 10s; 
    animation-iteration-count: infinite; /* Make it repeat infinitely */
}



